.env
venv/
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.flakes/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.nosepy_cache/
.tox/
.dmypy.json
dmypy.json
.scrapy
.twisted_cache/
cython_debug/
output.json
output_visual.jpg
